#footer
{
  font-family:sans-serif;
  font-style:italic;
  background-color:#D8D8D8;
  font-size:15pt;
  height:100px;
  width:100%;
  border-width:1px;
  border-style:solid;
  position:absolute;
	bottom:0;
	left:0;



}

#content
{
  padding-left:40%;
  position:fixed;
  align-content: center;
}
#image
{
  width:10px;
  height:10px;
}
