ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a1, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
.conform{
  background-color: #333;
  width:69%;
  height: 100%;
  margin-top: 8;
  left: 31px;

}

.tprofile{
  height: 100%;
  background-color: #333;
  z-index: -1;
  width:30%;
  margin-top: 8;
  float: left;
}
.drname{
  color:white;
}
.special{
  color:white;
}
.profile{
  color: white;
  text-align: center;
  background-color: silver;
  position: relative;
  z-index: 0;
  left:10px;
  margin-top: 10px;
  width: 95%;
  right: 10px;
}

.patfield{
  color: white;
  width:89%;
  height:auto;
  left:8px;
  right: 10px;
  position: relative;
}

.patlist{
  color: white;
  width:100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid silver;
  height:auto;
}

.patlist tbody,.patlist tr,.patlist th,.patlist td{
  display:block;
}

.patlist tr:after{
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

.patlist tbody{
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.patlist tbody td,.patlist thead th{
  width:50px;
  float: left;
  border-right: 1px solid silver;
}

tbody{
  border-top: 2px solid silver;
}

tbody td:last-child, thead th:last-child{
  border-right:none;
}

/* side form*/
.conform{
  color: white;
  background-color: #333;
  width:69%;
  height: 100%;
  float: right;
  positon: absolute;
}

.para{
  margin-left:30px;
  width:90%;
  text-align: left;
  height: 100%;
}

/*patient profile css*/
.textbox {
  border: 1px solid #c4c4c4;
  height: 25px;
  width: 275px;
  font-size: 13px;
  padding: 4px 4px 4px 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0px 0px 8px #d9d9d9;
  -moz-box-shadow: 0px 0px 8px #d9d9d9;
  -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}

.textbox:focus {
  outline: none;
  border: 1px solid #848484;
  box-shadow: 0px 0px 8px #848484;
  -moz-box-shadow: 0px 0px 8px #848484;
  -webkit-box-shadow: 0px 0px 8px #848484;
}


#table
{
background-color:none;
color: white;

}
#table1{
  background-color:none;
  color: white;
}

#button
{
font-family:sans-serif;
height:30px;
margin-left:20px;
margin-bottom:30px;
width:100px;
}


#race
{
height:30px;
width:285px;
}

#address
{
width: 400px;
height: 100px;
border: 3px solid #cccccc;
padding: 5px;
}
.subtn{
  position:absolute;;
  margin-top: 250px;
  margin-left: 200px;
}
#footer
{
font-family:sans-serif;
font-style:italic;
font-size:15pt;
height:100px;
width:100%;
position:relative;
bottom:0;
left:0;
color:#A4A4A4;
background-color:none;
align:bottom;
margin-top:5%;


}

#content
{
padding-left:40%;
position:relative;
align-content: center;
padding-top:20px;
}

.wt{
  color: white;
}
