ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a1, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;

h1{
  padding-top:  none;
  margin:auto;
  padding-left: 35%;
}

p{
  padding-top: 100px;
  width:80%;
  text-align:left;
}
<<<<<<< HEAD
=======
ul{
      padding: 0;
      list-style: none;
      background: #888888;
  }
  ul li{
      display: inline-block;
      position: relative;
      line-height: 21px;
      text-align: left;
<<<<<<< HEAD
=======
      
>>>>>>> 408faa162dcdc56b9d5e77d9fce81ed5e6b32424
  }
  ul li a{
      display: block;
      padding: 8px 25px;
      color: #333;
      text-decoration: none;
  }
  ul li ul.dropdown{
      min-width: 125px; /* Set width of the dropdown */
      background: #888888;
      display: none;
      position: absolute;
<<<<<<< HEAD

=======
>>>>>>> 408faa162dcdc56b9d5e77d9fce81ed5e6b32424
      left: 0;
  }
  ul li:hover ul.dropdown{
      display: block;	/* Display the dropdown */
  }
  ul li ul.dropdown li{
      display: block;
  }
>>>>>>> dc8bf28fa1fa1752d8ededa69a7d74acaf3a2ff7
