/*header title*/
#title
{
  position:top;
  padding-left:30%;
  height:50px;
  background-color:none;
}
#navigation
{
  height:50px;
    background-color:none;
    position:top;
    margin-top:20px;
}
/*header title*/
/*navigation*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    width:600px;
    margin:auto;
    border-radius:6px;

}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color:none;
    color:lightblue;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}
/*navigation*/

/*fieldset*/
#legend
{
  font-family:sans-serif;
  font-size:20px;

}

/*fieldset*/


/*body*/
body
{
    background-image:url("image/background_image1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    margin:0;
	  padding:0;
	  height:100%;
}
/*body*/

/* input box style*/
  .textbox {
    border: 1px solid #c4c4c4;
    height: 25px;
    width: 275px;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}

.textbox:focus {
    outline: none;
    border: 1px solid #848484;
    box-shadow: 0px 0px 8px #848484;
    -moz-box-shadow: 0px 0px 8px #848484;
    -webkit-box-shadow: 0px 0px 8px #848484;
}
/* input box style*/

/*table*/

#table
{
  background-color:none;


}
#table2
{

    background-color:none;
    width:32%;
    top:170px;
    right:230px;
    position:absolute;


}

td
{
  align:right;
}
/*table*/


/*button*/
#button
{
  font-family:sans-serif;
  height:30px;
  margin-left:20px;
  margin-bottom:30px;
  
  width:100px;
}

/*button*/

/*radio button*/

#race
{
  height:30px;
  width:285px;
}
/*radio button*/

#address
{
  width: 400px;
	height: 100px;
	border: 3px solid #cccccc;
	padding: 5px;
}

#systoms
{
  width: 400px;
	height: 100px;
	border: 3px solid #cccccc;
	padding: 5px;
}


/*footer*/
#footer
{
  font-family:sans-serif;
  font-style:italic;
  font-size:15pt;
  height:100px;
  width:100%;
  position:relative;
	bottom:0;
	left:0;
  color:#A4A4A4;
  background-color:none;
  align:bottom;
  margin-top:5%;


}

#content
{
  padding-left:40%;
  position:relative;
  align-content: center;
  padding-top:20px;
}
#image
{
  width:10px;
  height:10px;
}

/*footer*/
