html{
  background-color: cyan;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a1, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.tprofile{
  height: 84.5%;
  background-color: #333;
  z-index: -1;
  width:30%;
  margin-top: 8;
  float: left;
}

.profile{
  color: white;
  text-align: center;
  background-color: none;
  position: relative;
  z-index: 0;
  left:10px;
  margin-top: 10px;
  width: 95%;
  right: 10px;
}

.patfield{
  color: white;
  width:89%;
  height:auto;
  left:8px;
  right: 10px;
  position: relative;
}

.patlist ,.patdata{
		font-family: verdana,arial,sans-serif;
		font-size:11px;
		color:#333333;
		border-width: 1px;
		border-color: #3A3A3A;
		border-collapse: collapse;
    width:100%;
    text-align: center;
	}
	.patlist th {
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #3A3A3A;
		background-color: #B3B3B3;
	}
	.patdata td {
		border-width: 1px;
		padding: 6.5px;
		border-style: solid;
		border-color: #3A3A3A;
		background-color: #ffffff;
    width:auto;
	}
  .scroll{
      overflow:scroll;
      height:150px;
      overflow-y: scroll;
      overflow-x: hidden;

  }
  .scroll::-webkit-scrollbar{
    width:12px;
  }

  .scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px silver;
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px white;
}


.conform{
  color: white;
  background-color: #333;
  width:69.3%;
  height: 84.5%;
  float: right;
  margin-top: 8;
  left: 31px;
  positon: absolute;
}

.para{
  margin-left:30px;
  width:90%;
  text-align: left;
  height: 100%;
}

/*patient profile css*/
.textbox {
  border: 1px solid #c4c4c4;
  height: 25px;
  width: 275px;
  font-size: 13px;
  padding: 4px 4px 4px 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0px 0px 8px #d9d9d9;
  -moz-box-shadow: 0px 0px 8px #d9d9d9;
  -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}

.textbox:focus {
  outline: none;
  border: 1px solid #848484;
  box-shadow: 0px 0px 8px #848484;
  -moz-box-shadow: 0px 0px 8px #848484;
  -webkit-box-shadow: 0px 0px 8px #848484;
}


#table
{
background-color:none;
color: white;

}
table.table-style-one {
		font-family: verdana,arial,sans-serif;
		font-size:11px;
		color:#333333;
		border-width: 1px;
		border-color: #3A3A3A;
		border-collapse: collapse;
    width:100%;
	}
	table.table-style-one th {
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #3A3A3A;
		background-color: #B3B3B3;
	}
	table.table-style-one td {
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #3A3A3A;
		background-color: #ffffff;
	}
  .scrollit {
      overflow:scroll;
      height:auto;
      overflow-y: scroll;
      overflow-x: hidden;

  }
  div.scrollable {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.wt{
  color: white;
}

/* footer css*/

footer{margin: auto;
	padding: 10px;
	clear: right;
	float: top;
	width:98.5%;
	height: 30px;
	top: 8px;
  bottom:0px;
	left:0px;
	position: relative;
	border-top: none;
	background:#333;
}

.mail{
  text-decoration: none;
  color: white;
}

#foot{margin: auto;
	padding: 0px;
	padding-bottom:6px;
	clear: right;
	float: top;
	color: white;
	text-align: center;
	width:50%;
}
#copy
{
  width:10px;
  height:10px;
}
